@page "/about"
@using QuizOnBlaze.Services
@inject PlayerStateService PlayerStateService


<div class="container overflow-auto " style="max-height: 100vh;">
    <h3>About</h3>


    <div class="mt-2 text-center position-relative" style="height: 50px;">
        <a class=" flex flex-shrink-0  " aria-label="Cruip" href="https://www.kulendayz.com/">
            <div>
                <img style="position: absolute; margin-top: -1.2vh; margin-left: calc(3vh + 3vw); z-index: 10; width: calc(2.65vh + 2.65vw);" src="https://www.kulendayz.com//assets/logo-BV9wK60Q.png" alt="KulenDayz Logo">
                <img style="margin-top: -0.1vh; margin-left: calc(6.5vh + 6.5vw); z-index: 1; width: calc(10vh + 10vw);" src="https://www.kulendayz.com//assets/logo-text-DaTVqIo1.png">
            </div>
        </a>
    </div>


    <div class="mt-4">
        <p><b>QuizOnBlaze</b> is an Interactive quiz created by <a href="https://www.rramoscabral.com">Ricardo Cabral</a> during his free time with the support of <a href="https://www.nworkit.pt">NWORKIT Digital Solutions, Unipessoal Lda</a> for his technical session <b>Build Web Apps with Blazor: .NET for Lazy (But Productive) Devs</b> for the conference <b>KulenDayz — Slow down IT Conference</b> in Osijek, Croatia.</p>
    </div>

    <div class="mt-5">
        <div class="text-center">
            <h2>Build Web Apps with Blazor: .NET for Lazy (But Productive) Devs</h2>
        </div>
        <div>
            <ul>
                <li>Discover the power of Blazor for building web applications using ASP.NET Core.</li>
                <li>This introductory level session will cover the basics of setting up a Blazor project, creating components, and managing state.</li>
                <li>Get ready to build your first Blazor web application!</li>
            </ul>
        </div>
        <div>
            <p>The goal is not to create a competitor to Kahoot but to demonstrate the features of Blazor in ASP.NET 9 in the technical session.</p>
            <p><b>What is Blazor?</b></p>
            <p>Blazor is a modern front-end web framework based on HTML, CSS, and C# that helps you build web apps faster. With Blazor, build web apps using reusable components that can be run from both the client and the server so that you can deliver great web experiences.</p>
        </div>




    </div>



    <div class="mt-5">
        <div class="text-center">
            <h2>Source Code</h2>
        </div>
        <div>
            <p>
                The <b>QuizOnBlaze</b> source code available here: <a href="https://github.com/NWORKIT/QuizOnBlaze">https://github.com/NWORKIT/QuizOnBlaze</a>.
            </p>

        </div>
    </div>



    <div class="mt-5">
        <div>
            <p>This project is licensed under the MIT license for non-commercial use.</p>
        </div>
    </div>


</div>






@code {

}
